{% extends '::base.html.twig' %}

{% block body %}

    <h1>Новое событие</h1>

    <p>
        <a href="{{ path('event') }}" class="btn btn-default">Назад</a>
    </p>

    {{ form(form) }}

{% endblock %}